* {
    margin: 0;
    padding: 0;
}

#progress {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

:root {
    /* Colors */
    --yellow: #FFC800;
    --black: #121212;
    --grey: #373737;
    --white: #FEFEFE;
    /* Fonts */
    --font-headings: "Noto Sans";
    --font-call-to-action: "Noto Sans";
    --font-sub-headings: "Muli";
    --font-text: "Muli";
}

/* HEADER */

header {
    background-color: var(--yellow);
}

li {
    List-style: none;
}

a {
    color: var(--black);
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.nav-menu {
    display: flex;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.nav-link {
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    text-decoration: underline var(--white);
}

#logo {
    width: 7rem;
}

/* HEADER */



/* HAMBURGER MENU */

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.3rem;
    border-radius: 1rem;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--black);
}

#line2 {
    width: 1.2rem;
}

/* HAMBURGER MENU */



/* HOME */

.home-advice-top-view {
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#home-dog {
    width: 100%;
}

.home-advice-top-view h2 {
    position: absolute;
    font-size: 3rem;
    font-family: var(--font-headings);
    text-transform: uppercase;
    margin-left: 45vw;
}

.home-advice-top-view h2 a {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

.home-advice-top-view h2 a:hover {
    font-size: 4rem;
}

.home-advice-bottom-view {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    align-items: center;
}

.home-advice-bottom-view h1 {
    text-align: center;
    font-family: var(--font-headings);
    font-size: 4vw;
}

.home-advice-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80%;
}

.home-advice-cards img {
    width: 30vw;
    height: auto;
    cursor: url("images/paw.png"), auto;
    animation: showcards 2s;
}

@keyframes showcards {
    0% {
        width: 0vw;
    }

    100% {
        width: 30vw;
    }
}

/* HOME */


/* PET SUGGESTOR */

.container {
    max-width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.quiz-box {
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 5rem 5rem 5rem;
    border-radius: 5px;

}

.quiz-box h2 {
    background-color: var(--grey);
    font-size: 3rem;
    text-align: center;
    color: aliceblue;
    padding: 1rem 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;
}

.quiz-header {
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.quiz-header #progress {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 3vh 0;
}

#myImage {
    width: 40rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.quiz-box #question {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
}

.buttons {
    margin: 1.5rem 0 0 0;
}

.btn {
    text-align: left;
    background-color: blanchedalmond;
    width: 100%;
    font-size: 1.8rem;
    color: black;
    border: 1px solid bisque;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.btn:active {
    background-color: rgb(43, 226, 89);
}

.score h2 {
    color: black;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 4rem;
}

.score h3 {
    color: black;
    text-align: center;
    font-size: 2.0rem;

}

.score p {
    color: black;
    text-align: center;
    font-size: 1.8rem;

}

.column1 {
    width: 50%;
}

.column2 {
    width: 50%;
    float: right;
}

.fish_img {
    width: 200px;
    height: 200px;
    border: solid 5px;
    border-radius: 50%;
    border-color: #FFC800;
}

.fish_img2 {
    width: 150px;
    border: solid 4px;
    border-radius: 50%;
    border-color: #FFC800;
}

.main_fish {
    width: 60%;
    float: left;
    /* add this */

}

.other-consider {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    /* add this */
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    overflow: hidden;
    /* add this to contain floated children */
}

.quiz-repeat {
    text-align: center;
    margin: 3rem;
}

.quiz-repeat a {
    font-size: 1.6rem;
    font-weight: 600;
    color: wheat;
    text-decoration: none;
    background-color: orangered;
    padding: 1rem;
    border-radius: 5px;
    transition: all .3s;
}

.quiz-repeat a:hover {
    background-color: orangered;
}

/* PET SUGGESTOR */



/* PET SHOPS */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vh;
    text-align: center;
    margin: 3rem;
}

iframe {
    width: 45vw;
    height: 50vh;
    border: 6px solid #FFC800;
    padding: 5px;
    display: block;
    margin: auto;
}

/* PET SHOPS */



/* TIPS */

#advice-background-img {
    width: 100%;
}

.home-advice-cards img:hover {
    cursor: pointer;
}

/*hover over img */
.container {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--yellow);
    border-radius: 2.5vw;
}

.container:hover .overlay {
    opacity: 0.9;
    cursor: url("images/paw.png"), auto;
}

.text {
    color: black;
    font-size: 1.15vw;
    font-family: var(--font-text);
    text-align: justify;
    align-self: center;
}

/* TIPS */



/* ABOUT */

.about-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.about-container {
    width: 75%;
    min-height: 80vh;

    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;

}

.about-Photo {
    width: 60vh;
    height: 40vh;
    border-bottom: solid var(--grey) 12vh;
    background-color: var(--yellow);
    border-radius: 0 0 10% 10%;
    position: relative;
}

.about-Photo img {
    width: 35vh;
    height: 35vh;
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    margin: auto;
}

.text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: var(--font-text);
    font-size: 1.5rem;
    text-align: justify;
    padding-left: 30px;
}

.text-container h1 {
    font-size: 70px;
    padding: 20px 0px;
}

/* ABOUT */



/* CONTACT */

#home-top-viewContacts {
    /*Contact page background*/
    width: 100vw;
    height: 87vh;
    background: rgb(255, 255, 255);
}

.contactContainer {
    /*Form background container*/
    box-sizing: border-box;
    position: absolute;
    top: 22%;
    left: 30%;
    width: 45vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383737;
    border-radius: 11px 11px 11px;
}

form{
    background-color: none;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 70%;
    max-width: 300px;
    border-radius: 10px;
 }

 form h3{
    color: white;
    font-weight: 500px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.formAddress h2 {
    /*Address text*/
    margin-left: 25px;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formAddress img {
    /*address icon*/
    position: relative;
    top: -20px;
    left: -2px;
    margin-right: 50px;
    height: 3vh;
    width: 7%;
}

.formNumber1 h2 {
    /*homeNumber text*/
    margin-left: 25px;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formNumber1 img {
    /*homeNumber icon*/
    position: relative;
    top: -20px;
    left: -2px;
    margin-right: 50px;
    height: 3vh;
    width: 7%;
}

.formNumber2 h2 {
    /*phoneNumber text*/
    margin-left: 25px;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formNumber2 img {
    /*phoneNumber icon*/
    position: relative;
    top: -20px;
    left: -2px;
    margin-right: 50px;
    height: 3vh;
    width: 7%;

}

.form-row{ /* form row for text and email input*/
    display: flex;
    flex-wrap: wrap;
}

form input[type=text],
select {
    /*text input area*/
    flex:1;
    flex-direction: row;
    background: #313131ea;
    border-radius: 11px 11px 11px;
    padding: 11px;
    color: white;
    width: 34%;
    margin-right: 40px;
    margin-bottom: 15px;
}

form input[type=email],
select {
    /*email input area*/
    background: #313131ea;
    border-radius: 11px 11px 11px;
    padding: 11px;
    color: white;
    width: 34%;
    margin-bottom: 15px;
}

form textArea {
    /*textarea input area*/
    min-width: 36vh;
    height: 15vh;
    border: 1px solid #707070;
    border-radius: 11px 11px 11px;
    background-color: #313131ea;
    color: white;
    resize: none;
    font-size: 14px;
    padding: 2px 2px;
}

form textArea:hover {
    /*changes textarea background color*/
    background-color: #373737e6;
}

form input[type=submit] {
    /*submit button*/
    padding: 7px 126px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #FFC800;
    border-radius: 13px 13px 13px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 13px;
}

form input[type=submit]:hover {
    /*changes submit background color*/
    background-color: rgb(144, 234, 246);
}

::placeholder {
    /*changes the textarea color text*/
    color: white;
    padding: 10px;
}

#dogContainer {
    /*Background container for the dog image*/
    position: relative;
    height: 57vh;
    width: 23vw;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;

}

#dogContainer img {
    /*dog picture*/
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: right;
    justify-content: center;
    height: 70%;
    width: 80%;
    flex-direction: column;
}

/* CONTACT */



/* FOOTER */

footer {
    background-color: var(--grey);
    text-align: center;
    font-family: var(--font-sub-headings);
    font-size: 1.1rem;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

#footer-icons-container {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

footer h2 {
    margin-top: 1vh;
}

#footer-icons-container img {
    width: auto;
    height: 4vh;
}

/* FOOTER */



/* RESPONSIVE PART */

@media screen and (max-width: 1100px) {
    .text-container h1 {
        font-size: 40px;
        padding: 10px 0px;
        text-align: center;
    }

    .about-Photo {
        width: 40vh;
        height: 30vh;
        border-bottom: solid var(--grey) 6vh;
    }

    .about-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 821px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 6rem;
        gap: 0;
        flex-direction: column;
        background-color: var(--black);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-item a {
        color: var(--white);
    }

    .nav-menu.active {
        right: 0;
    }

    .home-advice-top-view h2 {
        font-size: 2rem;
    }

    .home-advice-top-view h2 a:hover {
        font-size: 3rem;
    }

    .home-advice-bottom-view h1 {
        font-size: 2.3rem;
    }

    .home-advice-cards {
        margin: 0;
    }

    .home-advice-cards img {
        width: 30rem;
        margin-bottom: 3rem;
    }

    @keyframes showcards {
        0% {
            width: 0rem;
        }

        100% {
            width: 30rem;
        }
    }

    .home-advice-top-view h2 {
        font-size: 2rem;
    }

    #advice-container h1 {
        font-size: 2.3rem;
    }

    .home-advice-cards {
        margin: 0;
    }

    .home-advice-cards img {
        width: 30rem;
        margin-bottom: 3rem;
    }

    .text {
        font-size: 1.2rem;
    }

    .overlay {
        height: 89%;
        border-radius: 2.2rem;
    }

    .quiz-box {
        padding: 3rem 5rem 0 5rem;
    }

    #myImage {
        width: 30rem;
    }
}

@media all and (max-width: 700px) {
    .quiz-box {
        padding: 3rem 0 0 0;
    }

    .quiz-header #progress {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 535px) {
    .home-advice-cards img {
        width: 20rem;
    }

    @keyframes showcards {
        0% {
            width: 0rem;
        }

        100% {
            width: 20rem;
        }
    }

    .text {
        font-size: 1rem;
    }

    .overlay {
        height: 85%;
        border-radius: 1.6rem;
    }

    #myImage {
        width: 25rem;
    }

    .buttons {
        padding-bottom: 3vh;
    }

    .btn {
        font-size: 1.4rem;
    }

    .wrapper {
        flex-direction: column;
    }

    .main_fish {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 420px) {
    .text-container h1 {
        font-size: 40px;
        padding: 10px 0px;
        text-align: center;
    }

    .home-advice-top-view h2 {
        font-size: 1.5rem;
    }

    .home-advice-bottom-view h1 {
        font-size: 1.5rem;
    }

    .home-advice-cards img {
        width: 15rem;
    }

    @keyframes showcards {
        0% {
            width: 0rem;
        }

        100% {
            width: 15rem;
        }
    }

    .text {
        font-size: 0.65rem;
    }

    .overlay {
        height: 81%;
        border-radius: 1.2rem;
    }

    .about-container {
        flex-direction: column;
    }

    .about-Photo {
        width: 30vh;
        height: 20vh;
        border-bottom: solid var(--grey) 6vh;
    }

    .about-Photo img {
        width: 16vh;
        height: 16vh;
    }

    .text-container {
        text-align: justify;
        text-justify: inter-word;
    }

    #myImage {
        width: 20rem;
    }

    .buttons {
        margin-bottom: 6vh;
    }

    .btn {
        font-size: 1.2rem;
    }
}

/* RESPONSIVE PART */