* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root {
    /* Colors */
    --yellow: #FFC800;
    --black: #121212;
    --grey: #373737;
    --white: #FEFEFE;
    /* Fonts */
    --font-headings: "Noto Sans";
    --font-call-to-action: "Noto Sans";
    --font-sub-headings: "Muli";
    --font-text: "Muli";
}

/* HEADER */

#home-top-view {
    width: 99vw;
    height: 87vh;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.6vw;
    list-style-type: none;
    justify-content: space-around;
    z-index: 1;
}

#nav-bar li a {
    text-decoration: none;
    color: var(--black);
}

#nav-bar2 {
    /*this is for all the other pages, excluding tips and home*/
    background-color: #FFC800;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.6vw;
    list-style-type: none;
    justify-content: space-around;
    z-index: -1;
}


#nav-bar2 li a {
    text-decoration: none;
    color: var(--black);
}

#logo {
    flex: 0.7;
}

#logo img {
    min-width: 10vw;
    width: 10vw;
    height: auto;
}

/* HEADER */



/* HAMBURGER MENU */


#hamburger-menu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-menu div {
    width: 2rem;
    height: .2rem;
    background-color: var(--color-black);
    transition: 0.4s;
}

#responsive-logo {
    display: none;
}

.open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
}

.lines,
.line1,
.line2,
.line3 {
    margin: 6px 0;
    transition: 0.4s;
    display: block;
    z-index: 3;
}

.responsive-menu {
    display: none;
    position: absolute;
    background: var(--color-green);
    height: 100vh;
    width: 12rem;
    top: 0;
    right: 0;
    text-align: left;
    z-index: 1;
    transition: 1s;
    padding-top: 3.5rem;
    list-style: none;
}

.responsive-menu li {
    padding-bottom: 1.3rem;
}

.responsive-menu a {
    position: relative;
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-headings);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}


/* HAMBURGER MENU */



/* HOME */


#home-background-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    top: 0vh;
    z-index: -1;
}

#home-dog {
    width: 100vw;
    height: auto;
}

#home-background-container h2 {
    position: absolute;
    text-transform: uppercase;
    right: 20vw;
    font-size: 3vw;
    font-family: var(--font-headings);
    text-align: center;
}

#home-background-container h2 a {
    color: var(--white);
    font-size: 6vw;
    text-decoration: none;
}

#home-pet-choice {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: auto;
    align-items: center;
}

#home-pet-choice h1 {
    text-align: center;
    font-family: var(--font-headings);
    font-size: 4vw;
}

.home-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80vw;
}

.home-row img {
    width: 30vw;
    height: auto;
    cursor: pointer;
}

/* HOME */


/* PET SUGGESTOR */

/* Code here */

/* PET SUGGESTOR */



/* PET SHOPS */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vh;
    text-align: center;
    margin: 3rem;
}

iframe {
    /* margin: auto;
    width: 50%; */
    border: 6px solid #FFC800;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Code here */

/* PET SHOPS */



/* TIPS */

#advice-background-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    top: 0vh;
    z-index: -1;
}

#advice-background-img {
    width: 100vw;
    height: auto;
}

#advice-background-container h2 {
    position: absolute;
    text-transform: uppercase;
    right: 20vw;
    font-size: 3vw;
    font-family: var(--font-headings);
    text-align: center;
}

#advice-background-container h2 a {
    color: var(--white);
    font-size: 6vw;
    text-decoration: none;
}

#advice-container {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: auto;
    align-items: center;
}

#advice-container h1 {
    text-align: center;
    font-family: var(--font-headings);
    font-size: 4vw;
}

.advice-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80vw;
}

.advice-row img {
    width: 30vw;
    height: auto;
}

.advice-row img:hover {
    cursor: pointer;
}


/*hover over img */
.container {
    position: relative;
    width: 30vw;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--yellow);
    border-radius: 2.5vw;
}

.container:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}

.text {
    color: black;
    font-size: 1.15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* TIPS */



/* ABOUT */

.about-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .background-container{
     width: 100%;
     min-height: 100vh;
     display: flex;   
 }
 
 .about-container{
     width: 75%;
     min-height: 80vh;
     
     background-color: var(--white);
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px 40px;
     
 }
 
     .about-Photo {
     width: 60vh;
     height: 40vh;
     border-bottom:solid  var(--grey) 12vh;
     background-color: var(--yellow);
     border-radius: 0 0 10% 10%;
     position: relative;
 }
 
 .about-Photo img {
     width: 35vh;
     height: 35vh;
     position: absolute;
     bottom: -1px;
     right: 0;
     left: 0;
     margin: auto;
 }
 
 .text-container{
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     flex-direction: column;
     font-size: 22px;
     padding-left: 30px;
 }
 
 .text-container h1{
     font-size: 70px;
     padding: 20px 0px;
 }
 @media screen and (max-width: 1100px){
    .text-container h1{
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
}
.about-Photo {
    width: 40vh;
    height: 30vh;
    border-bottom:solid  var(--grey) 6vh;
    }
    .about-container{
        flex-direction: column;
    }
}
@media screen and (max-width: 420px){
    .text-container h1{
    font-size: 40px;
    padding: 10px 0px;
    text-align: center;
}
    .about-container{
        flex-direction: column;
    }
    .about-Photo {
    width: 30vh;
    height: 20vh;
    border-bottom:solid  var(--grey) 6vh;
    }
    .about-Photo img{
    width: 16vh;
    height: 16vh;
    }
    .text-container {
    text-align: justify;
    text-justify: inter-word;
    }
}
/* ABOUT */



/* CONTACT */
#home-top-viewContacts {
    /*Contact page background*/
    width: 100vw;
    height: 87vh;
    background: black;
}

.contactContainer {
    /*Form background container*/
    box-sizing: border-box;
    position: absolute;
    top: 22%;
    left: 30%;
    width: 45vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383737;
    border-radius: 11px 11px 11px;
}

.formHeading h1 {
    /*Main heading for the contacts form*/
    position: absolute;
    top: 0vh;
    left: 1vh;
    font-size: 1.6em;
    color: rgb(255, 255, 255);
}

.formAddress h2 {
    /*Address text*/
    position: absolute;
    top: 12vh;
    left: 8.5vh;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formAddress img {
    /*address icon*/
    position: absolute;
    height: 4%;
    width: 2%;
    top: 12vh;
    left: 5.5vh;
}

.formNumber1 h2 {
    /*homeNumber text*/
    position: absolute;
    top: 16vh;
    left: 8.5vh;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formNumber1 img {
    /*homeNumber icon*/
    position: absolute;
    height: 4%;
    width: 2%;
    top: 16vh;
    left: 5.5vh;
}

.formNumber2 h2 {
    /*phoneNumber text*/
    position: absolute;
    top: 20vh;
    left: 8.5vh;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}

.formNumber2 img {
    /*phoneNumber icon*/
    position: absolute;
    height: 4%;
    width: 2%;
    top: 20vh;
    left: 5.4vh;

}

.contactForm {
    /*Created a parent class to hold name,email,textarea and sumbit in contact form*/
    display: flex;
    flex-flow: row wrap;
    height: 57vh;
    width: 23vw;
}

input[type=text],
select {
    /*text input area*/
    position: relative;
    top: 25vh;
    left: 4vh;
    margin-top: -17px;
    background: #313131ea;
    border-radius: 11px 11px 11px;
    margin-bottom: 11px;
    padding: 11px;
    color: white;
    width: 14vh;
}

input[type=email],
select {
    /*email input area*/
    position: relative;
    top: 25vh;
    left: 5vh;
    margin-top: -17px;
    background: #313131ea;
    border-radius: 11px 11px 11px;
    margin-bottom: 11px;
    padding: 11px;
    color: white;
    width: 15vh;
}

.textArea {
    /*textarea input area*/
    position: relative;
    display: flex;
    top: 25vh;
    left: 4vh;
    padding: 5px 5px;
    width: 275px;
    height: 93px;
    border: 1px solid #707070;
    border-radius: 11px 11px 11px;
    background-color: #313131ea;
    color: white;
    line-height: 1.4;
    resize: none;
    font-size: 14px;
    padding: 2px 2px;
}

.textArea:hover {
    /*changes textarea background color*/
    background-color: #373737e6;
}

input[type=submit] {
    /*submit button*/
    position: relative;
    top: 28vh;
    left: 4vh;
    padding: 7px 126px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #FFC800;
    border-radius: 13px 13px 13px;
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

input[type=submit]:hover {
    /*changes submit background color*/
    background-color: rgb(144, 234, 246);
}

::placeholder {
    /*changes the textarea color text*/
    color: white;
    padding: 10px;
}

#dogContainer {
    /*Background container for the dog image*/
    position: relative;
    /* top: 0vh;
    left: 20vh; */
    height: 57vh;
    width: 23vw;
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;

}

#dogContainer img {
    /*dog picture*/
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: right;
    justify-content: center;
    height: 70%;
    width: 80%;
    flex-direction: column;
}

/* Code here */

/* CONTACT */



/* FOOTER */

footer {
    background-color: var(--grey);
    text-align: center;
    font-family: var(--font-sub-headings);
    font-size: 1.2vw;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-icons-container {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

footer h2 {
    margin-top: 1vh;
}

#footer-icons-container img {
    width: auto;
    height: 4vh;
}

/* FOOTER */



/* RESPONSIVE PART */

@media only screen and (max-width: 769px) {
    nav {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    #hamburger-menu {
        display: block;
        margin-right: 2vw;
    }

    #responsive-logo {
        display: block;
        margin-left: 2vw;
        width: 10vw;
    }

    #responsive-logo img {
        width: 10vw;
        height: auto;
    }
}

/* RESPONSIVE PART */