* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root {
    /* Colors */
    --yellow: #FFC800;
    --black: #121212;
    --grey: #373737;
    --white: #FEFEFE;
    /* Fonts */
    --font-headings: "Noto Sans";
    --font-call-to-action: "Noto Sans";
    --font-sub-headings: "Muli";
    --font-text: "Muli";
}

/* HEADER */

#home-top-view {
    width: 99vw;
    height: 87vh;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.6vw;
    list-style-type: none;
    justify-content: space-around;
    z-index: 1;
}

#nav-bar li a {
    text-decoration: none;
    color: var(--black);
}

#nav-bar2 {
    /*this is for all the other pages, excluding tips and home*/
    background-color: #FFC800;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    font-family: var(--font-headings);
    font-weight: bold;
    font-size: 1.6vw;
    list-style-type: none;
    justify-content: space-around;
    z-index: -1;
}


#nav-bar2 li a {
    text-decoration: none;
    color: var(--black);
}

#logo {
    flex: 0.7;
}

#logo img {
    min-width: 10vw;
    width: 10vw;
    height: auto;
}

/* HEADER DEV<<<<<< */



/* HOME */


#home-background-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    top: 0vh;
    z-index: -1;
}

#home-dog {
    width: 100vw;
    height: auto;
}

#home-background-container h2 {
    position: absolute;
    text-transform: uppercase;
    right: 20vw;
    font-size: 3vw;
    font-family: var(--font-headings);
    text-align: center;
}

#home-background-container h2 a {
    color: var(--white);
    font-size: 6vw;
    text-decoration: none;
}

#home-pet-choice {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: auto;
    align-items: center;
}

#home-pet-choice h1 {
    text-align: center;
    font-family: var(--font-headings);
    font-size: 4vw;
}

.home-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80vw;
}

.home-row img {
    width: 30vw;
    height: auto;
    cursor: pointer;
}

/* HOME */


/* PET SUGGESTOR */

/* Code here */

/* PET SUGGESTOR */



/* PET SHOPS */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 6vh;
    text-align: center;
    margin: 3rem;
}

iframe {
    /* margin: auto;
    width: 50%; */
    border: 6px solid #FFC800;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Code here */

/* PET SHOPS */



/* TIPS */

#advice-background-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100vw;
    height: auto;
    top: 0vh;
    z-index: -1;
}

#advice-background-img {
    width: 100vw;
    height: auto;
}

#advice-background-container h2 {
    position: absolute;
    text-transform: uppercase;
    right: 20vw;
    font-size: 3vw;
    font-family: var(--font-headings);
    text-align: center;
}

#advice-background-container h2 a {
    color: var(--white);
    font-size: 6vw;
    text-decoration: none;
}

#advice-container {
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: auto;
    align-items: center;
}

#advice-container h1 {
    text-align: center;
    font-family: var(--font-headings);
    font-size: 4vw;
}

.advice-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 7vh;
    margin-bottom: 7vh;
    width: 80vw;
}

.advice-row img {
    width: 30vw;
    height: auto;
}

.advice-row img:hover {
    cursor: pointer;
}


/*hover over img */
.container {
    position: relative;
    width: 30vw;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--yellow);
    border-radius: 2.5vw;
}

.container:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}

.text {
    color: black;
    font-size: 1.15vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* TIPS */



/* ABOUT */

/* Code here */

/* ABOUT */



/* CONTACT */
#home-top-viewContacts { /*Contact page background*/
    width: 100vw;
    height: 87vh;
    background:black;
}

.contactContainer{ /*Form background container*/
    box-sizing: border-box;
    position: absolute;
    top:22%;
    left:30%;
    width: 45vw;
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#383737;
    border-radius: 11px 11px 11px;
}

.contactForm{ /*Created a parent class to hold name,email,textarea and sumbit in contact form*/
    display:flex;
    flex-flow: row wrap;
    height: 57vh;
    width: 23vw;
}

/* Code here */

/* CONTACT */



/* FOOTER */

footer {
    background-color: var(--grey);
    text-align: center;
    font-family: var(--font-sub-headings);
    font-size: 1.2vw;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-icons-container {
    display: flex;
    flex-direction: row;
    width: 10vw;
    justify-content: space-around;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

footer h2 {
    margin-top: 1vh;
}

#footer-icons-container img {
    width: auto;
    height: 4vh;
}

/* FOOTER */